.logo {
    width: 640px;
}

header {
    background-color: #F9C784;    
    
}

#menuAdmin{
    font-weight: bold
}

.fixarRodape {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;     
}

.fixarRodape p{
    background-color: #ff8c42;
}

#tx_frase{
    font-family:'Space Mono', monospace;
    color: #4c1e4f;

}

#btn_frase{
    
}