<%- include('../common/header')%>

        <%- include('../common/menu')%>

        <main class="mb-4">
            <div class="container-fluid mt-2">
                <div class="row marcador align-items-center mt-2">
                    <div class="col mx-auto text-center">
                        <img id="mon" class="logo img-fluid" src="/img/pic_mae.png" alt="Foto Mãe">
                    </div>                          
                </div>            
                <div class="row frase align-items-center mt-2">
                    <div class="col-md-6 mx-auto text-center">
                            <% 
                            var num = (Math.floor(Math.random() * (frases.length) ));                       
                            console.log(num);                       
                            %>
                            <h2 id="tx_frase"><%=frases.slice(num,num+1)%></h2>                    
                    </div>                          
                </div>

                <div class="row marcador align-items-center mt-5">
                    <div class="col mx-auto text-center">
                        
                        <button onclick="btn_update()" id = "btn_frase"type="button" class="btn btn-outline-secondary btn-lg">Gerar Nova Frase</button>
                    </div>                          
                </div>           
                
            </div>        
            
        </main>

<%- include('../common/footer')%>