<%- include('../common/header')%>

        <%- include('../common/menu')%>

        <main class="mb-4">
            <div class="bg-light p-5 mb-4">
                <div class ="col-md-8 mx-auto text-center">
                    <h1>Seja Bem vindo</h1>
                    <p id="parag_index"class="lead">
                        <strong>Clique no botão</strong> ‘Gerar Nova Frase’ para <strong>citações aleatórias</strong> direcionadas para as mães, que querem inspirações na hora de responder os seus filhos ou entes queridos.
                    </p>
                </div>
            </div>
            <div class="container-fluid mt-2">
                <div class="row marcador align-items-center mt-2">
                    <div class="col mx-auto text-center">
                        <img id="mon" class="logo img-fluid" src="/img/pic_mae.png" alt="Foto Mãe">
                    </div>                          
                </div>            
                <div id="frase_mae" class="row frase align-items-center mt-2">
                    <div class="col-md-8 mx-auto text-center">
                            <% 
                            var num = (Math.floor(Math.random() * (frases.length) ));                       
                                                  
                            %>
                            <h2 id="tx_frase">"<%=frases.slice(num,num+1)%>"</h2>                    
                    </div>                          
                </div>

                <div class="row marcador align-items-center mt-5">
                    <div class="col mx-auto text-center">
                        
                        <button onclick="btn_update()" id = "btn_frase"type="button" class="btn btn-outline-secondary btn-lg">Gerar Nova Frase</button>
                    </div>                          
                </div>           
                
            </div>        
            
        </main>

<%- include('../common/footer')%>