<header class="container-fluid sticky-top" >
    <nav class="d-flex justify-content-between flex-column flex-sm-row flex-wrap justify-content-center align-items-center" >
        <div class=""></div>

            <ul class="nav nav-pills">
                
                <li>
                    <a id="menuAdmin" href="#" class="nav-link text-black">Admin</a>
                </li>
                
            </ul>        
    </nav>   
</header>